<div>
  <%= image_tag 'cota_logo', class:'floating-logo floating-left', alt:'Cota para gobernador de Nayarit' %>
</div>
<div>
  <%= image_tag 'Logo_INNORTE_Brujula', class:'floating-logo floating-right', atl:'INNORTE S.A.' %>
</div>
