<nav class="red">
  <div class="nav-wrapper">
    <a class="brand-logo center">Análisis Geoelectoral 2017</a>

    <ul class="right">
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="material-icons">close</i>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
