<% content_for :title do %>PRI<% end %>
<% content_for :scripts do %>
  <%= javascript_include_tag 'L.TileLayer.BetterWMS' %>
  <%= javascript_include_tag 'layerControl' %>
  <%= javascript_include_tag 'layersDeclaration' %>
  <%= javascript_include_tag  'geoelectoral' %>
<% end %>
<%# render 'partials/navigator' %>
<div id="map"></div>
<div class="legend-panel center-align">
  <h5>Simbología</h5>
  <div class="divider"></div>
  <div class="legend-container">
    <div id="legend-panel"></div>
  </div>
</div>
<a id="btn-layers" data-activates="layers-panel" class="btn red button-layer-panel"><i class="large material-icons">layers</i></a>
<ul id="layers-panel" class="side-nav">
  <li class="red">
    <h5 class="center-align white">Panel de Capas</h5>
  </li>
  <li class="divider"></li>
</ul>
<%# render 'partials/logos' %>
