<% content_for :title do %>Acceder<% end %>
<main class="full-height valign-wrapper">
  <div class="container valign">
    <div class="row w-margin">
      <div class="col s12 m6 offset-m3">
        <div class="card">
          <div class="card-content left-align">
            <span class="card-title center-align">Iniciar Sesión</span>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true %>
              </div>

              <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off" %>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end -%>
          </div>
          <div class="card-action center-align">
            <%= f.submit "Iniciar Sesión", class:'btn red' %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row w-margin">
      <div class="center-align col s4 offset-s4 m2 offset-m5">
        <%= image_tag '_logopriPNG', class:'responsive-img', alt:'Partido Revolucionario Institucional' %>
      </div>
    </div>
  </div>
</main>
