/*
 *= require_tree .
 *= require Leaflet
 *= require_self
 */

@import "materialize";

html, body, #map {
    height: 100vh;
    width: 100vw;
}

body {
    padding: 0;
    margin: 0;
}

.full-height{
  height: 100%;
}

#map{
  height: calc(100vh - 64px);
  width: 100vw;
}

nav{
  z-index: 3;
}

.w-margin{
  margin: 0px;
}

.padding-left-right{
  padding: 0em 1em;
}
