.floating-logo{
  position:fixed;
  width:15%;
  height: auto;
  bottom:2em;
  z-index: 900;
  border-radius: 5px;
}

.floating-left{
  left: 2em;
}

.floating-right{
  right: 2em;
}

.button-layer-panel{
  position:fixed;
  top:8em;
  left:1em;
  z-index: 900;
}

.side-nav{
  z-index: 1000;
}

.legend-panel{
  position:fixed;
  min-width: 200px;
  min-height: 5em;
  max-height: 70%;
  background-color: white;
  border-radius: 3px;
  border: 1px solid gray;
  top: 8em;
  right: 2em;
  z-index: 900;
  overflow-y: auto;
  overflow-x: hidden;
}
.hide{
  display: none;
  transition: 0.2s ease-out;
}

.show{
  display:inherit;
  transition: 0.2s ease-in;
}

.side-nav li > a{
  font-size:12px !important;
  height: auto !important;
  padding: 0 1em !important;
}

.side-nav li.active{
  background-color: rgba(0, 0, 0, 0.2) !important;
}

#featureInfo{
  overflow: auto;
}
