<!-- MapServer Template -->
    <html>
    <head>
    <title>Geoelectoral</title>
    </head>
    <body>
    [resultset layer="Distritos Estatales"]
<b>"distritos_18"</b>
<table class="idtmplt_tableclass">
  <tr class="idtmplt_trclass_1h">
    <td class="idtmplt_tdclass_1h">"CLAVEGEO"</td>
    <td class="idtmplt_tdclass_1h">"ENTIDAD"</td>
    <td class="idtmplt_tdclass_1h">"DISTRITO"</td>
    <td class="idtmplt_tdclass_1h">"POBTOT"</td>
    <td class="idtmplt_tdclass_1h">"POBMAS"</td>
    <td class="idtmplt_tdclass_1h">"POBFEM"</td>
    <td class="idtmplt_tdclass_1h">"P_0A2"</td>
    <td class="idtmplt_tdclass_1h">"P_0A2_M"</td>
    <td class="idtmplt_tdclass_1h">"P_0A2_F"</td>
    <td class="idtmplt_tdclass_1h">"P_3YMAS"</td>
    <td class="idtmplt_tdclass_1h">"P_3YMAS_M"</td>
    <td class="idtmplt_tdclass_1h">"P_3YMAS_F"</td>
    <td class="idtmplt_tdclass_1h">"P_5YMAS"</td>
    <td class="idtmplt_tdclass_1h">"P_5YMAS_M"</td>
    <td class="idtmplt_tdclass_1h">"P_5YMAS_F"</td>
    <td class="idtmplt_tdclass_1h">"P_12YMAS"</td>
    <td class="idtmplt_tdclass_1h">"P_12YMAS_M"</td>
    <td class="idtmplt_tdclass_1h">"P_12YMAS_F"</td>
    <td class="idtmplt_tdclass_1h">"P_15YMAS"</td>
    <td class="idtmplt_tdclass_1h">"P_15YMAS_M"</td>
    <td class="idtmplt_tdclass_1h">"P_15YMAS_F"</td>
    <td class="idtmplt_tdclass_1h">"P_18YMAS"</td>
    <td class="idtmplt_tdclass_1h">"P_18YMAS_M"</td>
    <td class="idtmplt_tdclass_1h">"P_18YMAS_F"</td>
    <td class="idtmplt_tdclass_1h">"P_3A5"</td>
    <td class="idtmplt_tdclass_1h">"P_3A5_M"</td>
    <td class="idtmplt_tdclass_1h">"P_3A5_F"</td>
    <td class="idtmplt_tdclass_1h">"P_6A11"</td>
    <td class="idtmplt_tdclass_1h">"P_6A11_M"</td>
    <td class="idtmplt_tdclass_1h">"P_6A11_F"</td>
    <td class="idtmplt_tdclass_1h">"P_8A14"</td>
    <td class="idtmplt_tdclass_1h">"P_8A14_M"</td>
    <td class="idtmplt_tdclass_1h">"P_8A14_F"</td>
    <td class="idtmplt_tdclass_1h">"P_12A14"</td>
    <td class="idtmplt_tdclass_1h">"P_12A14_M"</td>
    <td class="idtmplt_tdclass_1h">"P_12A14_F"</td>
    <td class="idtmplt_tdclass_1h">"P_15A17"</td>
    <td class="idtmplt_tdclass_1h">"P_15A17_M"</td>
    <td class="idtmplt_tdclass_1h">"P_15A17_F"</td>
    <td class="idtmplt_tdclass_1h">"P_18A24"</td>
    <td class="idtmplt_tdclass_1h">"P_18A24_M"</td>
    <td class="idtmplt_tdclass_1h">"P_18A24_F"</td>
    <td class="idtmplt_tdclass_1h">"P_15A49_F"</td>
    <td class="idtmplt_tdclass_1h">"P_60YMAS"</td>
    <td class="idtmplt_tdclass_1h">"P_60YMAS_M"</td>
    <td class="idtmplt_tdclass_1h">"P_60YMAS_F"</td>
    <td class="idtmplt_tdclass_1h">"REL_H_M"</td>
    <td class="idtmplt_tdclass_1h">"POB0_14"</td>
    <td class="idtmplt_tdclass_1h">"POB15_64"</td>
    <td class="idtmplt_tdclass_1h">"POB65_MAS"</td>
    <td class="idtmplt_tdclass_1h">"PROM_HNV"</td>
    <td class="idtmplt_tdclass_1h">"PNACENT"</td>
    <td class="idtmplt_tdclass_1h">"PNACENT_M"</td>
    <td class="idtmplt_tdclass_1h">"PNACENT_F"</td>
    <td class="idtmplt_tdclass_1h">"PNACOE"</td>
    <td class="idtmplt_tdclass_1h">"PNACOE_M"</td>
    <td class="idtmplt_tdclass_1h">"PNACOE_F"</td>
    <td class="idtmplt_tdclass_1h">"PRES2005"</td>
    <td class="idtmplt_tdclass_1h">"PRES2005_M"</td>
    <td class="idtmplt_tdclass_1h">"PRES2005_F"</td>
    <td class="idtmplt_tdclass_1h">"PRESOE05"</td>
    <td class="idtmplt_tdclass_1h">"PRESOE05_M"</td>
    <td class="idtmplt_tdclass_1h">"PRESOE05_F"</td>
    <td class="idtmplt_tdclass_1h">"P3YM_HLI"</td>
    <td class="idtmplt_tdclass_1h">"P3YM_HLI_M"</td>
    <td class="idtmplt_tdclass_1h">"P3YM_HLI_F"</td>
    <td class="idtmplt_tdclass_1h">"P3HLINHE"</td>
    <td class="idtmplt_tdclass_1h">"P3HLINHE_M"</td>
    <td class="idtmplt_tdclass_1h">"P3HLINHE_F"</td>
    <td class="idtmplt_tdclass_1h">"P3HLI_HE"</td>
    <td class="idtmplt_tdclass_1h">"P3HLI_HE_M"</td>
    <td class="idtmplt_tdclass_1h">"P3HLI_HE_F"</td>
    <td class="idtmplt_tdclass_1h">"P5_HLI"</td>
    <td class="idtmplt_tdclass_1h">"P5_HLI_NHE"</td>
    <td class="idtmplt_tdclass_1h">"P5_HLI_HE"</td>
    <td class="idtmplt_tdclass_1h">"PHOG_IND"</td>
    <td class="idtmplt_tdclass_1h">"PCON_LIM"</td>
    <td class="idtmplt_tdclass_1h">"PCLIM_MOT"</td>
    <td class="idtmplt_tdclass_1h">"PCLIM_VIS"</td>
    <td class="idtmplt_tdclass_1h">"PCLIM_LENG"</td>
    <td class="idtmplt_tdclass_1h">"PCLIM_AUD"</td>
    <td class="idtmplt_tdclass_1h">"PCLIM_MOT2"</td>
    <td class="idtmplt_tdclass_1h">"PCLIM_MEN"</td>
    <td class="idtmplt_tdclass_1h">"PCLIM_MEN2"</td>
    <td class="idtmplt_tdclass_1h">"PSIN_LIM"</td>
    <td class="idtmplt_tdclass_1h">"P3A5_NOA"</td>
    <td class="idtmplt_tdclass_1h">"P3A5_NOA_M"</td>
    <td class="idtmplt_tdclass_1h">"P3A5_NOA_F"</td>
    <td class="idtmplt_tdclass_1h">"P6A11_NOA"</td>
    <td class="idtmplt_tdclass_1h">"P6A11_NOAM"</td>
    <td class="idtmplt_tdclass_1h">"P6A11_NOAF"</td>
    <td class="idtmplt_tdclass_1h">"P12A14NOA"</td>
    <td class="idtmplt_tdclass_1h">"P12A14NOAM"</td>
    <td class="idtmplt_tdclass_1h">"P12A14NOAF"</td>
    <td class="idtmplt_tdclass_1h">"P15A17A"</td>
    <td class="idtmplt_tdclass_1h">"P15A17A_M"</td>
    <td class="idtmplt_tdclass_1h">"P15A17A_F"</td>
    <td class="idtmplt_tdclass_1h">"P18A24A"</td>
    <td class="idtmplt_tdclass_1h">"P18A24A_M"</td>
    <td class="idtmplt_tdclass_1h">"P18A24A_F"</td>
    <td class="idtmplt_tdclass_1h">"P8A14AN"</td>
    <td class="idtmplt_tdclass_1h">"P8A14AN_M"</td>
    <td class="idtmplt_tdclass_1h">"P8A14AN_F"</td>
    <td class="idtmplt_tdclass_1h">"P15YM_AN"</td>
    <td class="idtmplt_tdclass_1h">"P15YM_AN_M"</td>
    <td class="idtmplt_tdclass_1h">"P15YM_AN_F"</td>
    <td class="idtmplt_tdclass_1h">"P15YM_SE"</td>
    <td class="idtmplt_tdclass_1h">"P15YM_SE_M"</td>
    <td class="idtmplt_tdclass_1h">"P15YM_SE_F"</td>
    <td class="idtmplt_tdclass_1h">"P15PRI_IN"</td>
    <td class="idtmplt_tdclass_1h">"P15PRI_INM"</td>
    <td class="idtmplt_tdclass_1h">"P15PRI_INF"</td>
    <td class="idtmplt_tdclass_1h">"P15PRI_CO"</td>
    <td class="idtmplt_tdclass_1h">"P15PRI_COM"</td>
    <td class="idtmplt_tdclass_1h">"P15PRI_COF"</td>
    <td class="idtmplt_tdclass_1h">"P15SEC_IN"</td>
    <td class="idtmplt_tdclass_1h">"P15SEC_INM"</td>
    <td class="idtmplt_tdclass_1h">"P15SEC_INF"</td>
    <td class="idtmplt_tdclass_1h">"P15SEC_CO"</td>
    <td class="idtmplt_tdclass_1h">"P15SEC_COM"</td>
    <td class="idtmplt_tdclass_1h">"P15SEC_COF"</td>
    <td class="idtmplt_tdclass_1h">"P18YM_PB"</td>
    <td class="idtmplt_tdclass_1h">"P18YM_PB_M"</td>
    <td class="idtmplt_tdclass_1h">"P18YM_PB_F"</td>
    <td class="idtmplt_tdclass_1h">"GRAPROES"</td>
    <td class="idtmplt_tdclass_1h">"GRAPROES_M"</td>
    <td class="idtmplt_tdclass_1h">"GRAPROES_F"</td>
    <td class="idtmplt_tdclass_1h">"PEA"</td>
    <td class="idtmplt_tdclass_1h">"PEA_M"</td>
    <td class="idtmplt_tdclass_1h">"PEA_F"</td>
    <td class="idtmplt_tdclass_1h">"PE_INAC"</td>
    <td class="idtmplt_tdclass_1h">"PE_INAC_M"</td>
    <td class="idtmplt_tdclass_1h">"PE_INAC_F"</td>
    <td class="idtmplt_tdclass_1h">"POCUPADA"</td>
    <td class="idtmplt_tdclass_1h">"POCUPADA_M"</td>
    <td class="idtmplt_tdclass_1h">"POCUPADA_F"</td>
    <td class="idtmplt_tdclass_1h">"PDESOCUP"</td>
    <td class="idtmplt_tdclass_1h">"PDESOCUP_M"</td>
    <td class="idtmplt_tdclass_1h">"PDESOCUP_F"</td>
    <td class="idtmplt_tdclass_1h">"PSINDER"</td>
    <td class="idtmplt_tdclass_1h">"PDER_SS"</td>
    <td class="idtmplt_tdclass_1h">"PDER_IMSS"</td>
    <td class="idtmplt_tdclass_1h">"PDER_ISTE"</td>
    <td class="idtmplt_tdclass_1h">"PDER_ISTEE"</td>
    <td class="idtmplt_tdclass_1h">"PDER_SEGP"</td>
    <td class="idtmplt_tdclass_1h">"P12YM_SOLT"</td>
    <td class="idtmplt_tdclass_1h">"P12YM_CASA"</td>
    <td class="idtmplt_tdclass_1h">"P12YM_SEPA"</td>
    <td class="idtmplt_tdclass_1h">"PCATOLICA"</td>
    <td class="idtmplt_tdclass_1h">"PNCATOLICA"</td>
    <td class="idtmplt_tdclass_1h">"POTRAS_REL"</td>
    <td class="idtmplt_tdclass_1h">"PSIN_RELIG"</td>
    <td class="idtmplt_tdclass_1h">"TOTHOG"</td>
    <td class="idtmplt_tdclass_1h">"HOGJEF_M"</td>
    <td class="idtmplt_tdclass_1h">"HOGJEF_F"</td>
    <td class="idtmplt_tdclass_1h">"POBHOG"</td>
    <td class="idtmplt_tdclass_1h">"PHOGJEF_M"</td>
    <td class="idtmplt_tdclass_1h">"PHOGJEF_F"</td>
    <td class="idtmplt_tdclass_1h">"VIVTOT"</td>
    <td class="idtmplt_tdclass_1h">"TVIVHAB"</td>
    <td class="idtmplt_tdclass_1h">"TVIVPAR"</td>
    <td class="idtmplt_tdclass_1h">"VIVPAR_HAB"</td>
    <td class="idtmplt_tdclass_1h">"TVIVPARHAB"</td>
    <td class="idtmplt_tdclass_1h">"VIVPAR_DES"</td>
    <td class="idtmplt_tdclass_1h">"VIVPAR_UT"</td>
    <td class="idtmplt_tdclass_1h">"OCUPVIVPAR"</td>
    <td class="idtmplt_tdclass_1h">"PROM_OCUP"</td>
    <td class="idtmplt_tdclass_1h">"PRO_OCUP_C"</td>
    <td class="idtmplt_tdclass_1h">"VPH_PISODT"</td>
    <td class="idtmplt_tdclass_1h">"VPH_PISOTI"</td>
    <td class="idtmplt_tdclass_1h">"VPH_1DOR"</td>
    <td class="idtmplt_tdclass_1h">"VPH_2YMASD"</td>
    <td class="idtmplt_tdclass_1h">"VPH_1CUART"</td>
    <td class="idtmplt_tdclass_1h">"VPH_2CUART"</td>
    <td class="idtmplt_tdclass_1h">"VPH_3YMASC"</td>
    <td class="idtmplt_tdclass_1h">"VPH_C_ELEC"</td>
    <td class="idtmplt_tdclass_1h">"VPH_S_ELEC"</td>
    <td class="idtmplt_tdclass_1h">"VPH_AGUADV"</td>
    <td class="idtmplt_tdclass_1h">"VPH_AGUAFV"</td>
    <td class="idtmplt_tdclass_1h">"VPH_EXCSA"</td>
    <td class="idtmplt_tdclass_1h">"VPH_DRENAJ"</td>
    <td class="idtmplt_tdclass_1h">"VPH_NODREN"</td>
    <td class="idtmplt_tdclass_1h">"VPH_C_SERV"</td>
    <td class="idtmplt_tdclass_1h">"VPH_SNBIEN"</td>
    <td class="idtmplt_tdclass_1h">"VPH_RADIO"</td>
    <td class="idtmplt_tdclass_1h">"VPH_TV"</td>
    <td class="idtmplt_tdclass_1h">"VPH_REFRI"</td>
    <td class="idtmplt_tdclass_1h">"VPH_LAVAD"</td>
    <td class="idtmplt_tdclass_1h">"VPH_AUTOM"</td>
    <td class="idtmplt_tdclass_1h">"VPH_PC"</td>
    <td class="idtmplt_tdclass_1h">"VPH_TELEF"</td>
    <td class="idtmplt_tdclass_1h">"VPH_CEL"</td>
    <td class="idtmplt_tdclass_1h">"VPH_INTER"</td>
</tr>
[feature limit=20]
  <tr class="idtmplt_trclass_2h">
    <td class="idtmplt_tdclass_2h">[item name="CLAVEGEO"]</td>
    <td class="idtmplt_tdclass_2h">[item name="ENTIDAD"]</td>
    <td class="idtmplt_tdclass_2h">[item name="DISTRITO"]</td>
    <td class="idtmplt_tdclass_2h">[item name="POBTOT"]</td>
    <td class="idtmplt_tdclass_2h">[item name="POBMAS"]</td>
    <td class="idtmplt_tdclass_2h">[item name="POBFEM"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_0A2"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_0A2_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_0A2_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_3YMAS"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_3YMAS_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_3YMAS_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_5YMAS"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_5YMAS_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_5YMAS_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_12YMAS"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_12YMAS_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_12YMAS_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_15YMAS"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_15YMAS_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_15YMAS_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_18YMAS"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_18YMAS_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_18YMAS_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_3A5"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_3A5_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_3A5_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_6A11"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_6A11_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_6A11_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_8A14"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_8A14_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_8A14_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_12A14"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_12A14_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_12A14_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_15A17"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_15A17_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_15A17_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_18A24"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_18A24_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_18A24_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_15A49_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_60YMAS"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_60YMAS_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P_60YMAS_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="REL_H_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="POB0_14"]</td>
    <td class="idtmplt_tdclass_2h">[item name="POB15_64"]</td>
    <td class="idtmplt_tdclass_2h">[item name="POB65_MAS"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PROM_HNV"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PNACENT"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PNACENT_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PNACENT_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PNACOE"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PNACOE_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PNACOE_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PRES2005"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PRES2005_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PRES2005_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PRESOE05"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PRESOE05_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PRESOE05_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P3YM_HLI"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P3YM_HLI_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P3YM_HLI_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P3HLINHE"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P3HLINHE_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P3HLINHE_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P3HLI_HE"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P3HLI_HE_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P3HLI_HE_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P5_HLI"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P5_HLI_NHE"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P5_HLI_HE"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PHOG_IND"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PCON_LIM"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PCLIM_MOT"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PCLIM_VIS"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PCLIM_LENG"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PCLIM_AUD"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PCLIM_MOT2"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PCLIM_MEN"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PCLIM_MEN2"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PSIN_LIM"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P3A5_NOA"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P3A5_NOA_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P3A5_NOA_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P6A11_NOA"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P6A11_NOAM"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P6A11_NOAF"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P12A14NOA"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P12A14NOAM"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P12A14NOAF"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P15A17A"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P15A17A_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P15A17A_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P18A24A"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P18A24A_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P18A24A_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P8A14AN"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P8A14AN_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P8A14AN_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P15YM_AN"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P15YM_AN_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P15YM_AN_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P15YM_SE"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P15YM_SE_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P15YM_SE_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P15PRI_IN"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P15PRI_INM"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P15PRI_INF"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P15PRI_CO"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P15PRI_COM"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P15PRI_COF"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P15SEC_IN"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P15SEC_INM"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P15SEC_INF"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P15SEC_CO"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P15SEC_COM"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P15SEC_COF"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P18YM_PB"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P18YM_PB_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P18YM_PB_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="GRAPROES"]</td>
    <td class="idtmplt_tdclass_2h">[item name="GRAPROES_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="GRAPROES_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PEA"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PEA_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PEA_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PE_INAC"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PE_INAC_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PE_INAC_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="POCUPADA"]</td>
    <td class="idtmplt_tdclass_2h">[item name="POCUPADA_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="POCUPADA_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PDESOCUP"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PDESOCUP_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PDESOCUP_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PSINDER"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PDER_SS"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PDER_IMSS"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PDER_ISTE"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PDER_ISTEE"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PDER_SEGP"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P12YM_SOLT"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P12YM_CASA"]</td>
    <td class="idtmplt_tdclass_2h">[item name="P12YM_SEPA"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PCATOLICA"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PNCATOLICA"]</td>
    <td class="idtmplt_tdclass_2h">[item name="POTRAS_REL"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PSIN_RELIG"]</td>
    <td class="idtmplt_tdclass_2h">[item name="TOTHOG"]</td>
    <td class="idtmplt_tdclass_2h">[item name="HOGJEF_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="HOGJEF_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="POBHOG"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PHOGJEF_M"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PHOGJEF_F"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VIVTOT"]</td>
    <td class="idtmplt_tdclass_2h">[item name="TVIVHAB"]</td>
    <td class="idtmplt_tdclass_2h">[item name="TVIVPAR"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VIVPAR_HAB"]</td>
    <td class="idtmplt_tdclass_2h">[item name="TVIVPARHAB"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VIVPAR_DES"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VIVPAR_UT"]</td>
    <td class="idtmplt_tdclass_2h">[item name="OCUPVIVPAR"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PROM_OCUP"]</td>
    <td class="idtmplt_tdclass_2h">[item name="PRO_OCUP_C"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VPH_PISODT"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VPH_PISOTI"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VPH_1DOR"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VPH_2YMASD"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VPH_1CUART"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VPH_2CUART"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VPH_3YMASC"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VPH_C_ELEC"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VPH_S_ELEC"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VPH_AGUADV"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VPH_AGUAFV"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VPH_EXCSA"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VPH_DRENAJ"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VPH_NODREN"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VPH_C_SERV"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VPH_SNBIEN"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VPH_RADIO"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VPH_TV"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VPH_REFRI"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VPH_LAVAD"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VPH_AUTOM"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VPH_PC"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VPH_TELEF"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VPH_CEL"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VPH_INTER"]</td>
  </tr>
[/feature]
</table>
  </body>
    </html>
