<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title><%= yield :title %> | Cota 2017</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="red">
    <!--<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>-->
    <%= yield %>
    <%= yield :scripts %>
  </body>
</html>
